@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url(config.css);
/*
    -- Estilização Global - Main
*/
*{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    -- Estilização Conteúdo
*/
body{
    display: flex;
}

.corpo-main{
    background-color: #0A2463;
}

.main{
    background-color: #FFFFFF;
    width: 1462px;
    height: auto;
}

/*
    -- Estilização Nav-Bar
*/

.container-fluid{
    align-items: flex-end;
}

.itens-navbar{
    font-size: 18px;
    padding: 2%;
}
.navbar{
    margin-bottom: 45px;
}

.logo-senai{
    position: static;
}

.init-nav{
    justify-content: space-between;
}

@media (max-width: 800px) {
    .logo-senai{
        width: 425px;
        height: 67px;
    }
}

@media (max-width: 600px) {
    .logo-senai{
        width: 318px;
        height: 50px;
    }
}


/*
    -- Estilização Conteúdo - Main
*/

.link-pages, li{
    text-decoration: none;
    border: none;
    list-style: none;
    color: black;
    transition: 0.1s;
}

.link-pages:hover{
    color: black;
}

.item-col-link{
    width: 100%;
    height: 100%;
    margin: auto;
}

.item-col-link:hover{
    color: black;
}

/* a:hover{
    color: var(--Red000);
}
 */

.p-title{
    font-size: 20px;
    text-align: center;
}

.red-text{
    color: red;
}

.p-subtitle{
    font-size: 22px;
    text-align: center;
}

i{
    margin-top: 18%;
    font-size: 240%;
}

.row{
    padding: 5%;
}

.col{
    background-color: var(--Gray600);
    text-align: center;
    width: 250px; height: 180px;
    border-radius: 33px;
    margin-left: 4%; margin-right: 4%;
    box-shadow: 2px 2px 18px solid black;
    box-shadow: 1px 1px 5px var(--Gray700);
}

.col:hover{
    background-color: var(--Gray700);
    border: 1px solid var(--Gray000);
}

.option-link-pages{
    text-align: center;
    padding: 20px 2px 1px 2px;
    color: white;
    font-style: bold;
    margin: auto;
}

/*
    -- Estilização Rodapé - Main
*/

footer{
    padding-top: 10px; padding-bottom: 5px;
    font-style: italic;
    text-align: center;
    border-top: 1px solid gray;
}
.p-footer{
    margin-top: 40px 10px 10px 20px;
}
